[2019-10-26 16:04] swetasahoo29 opened #5 "allignment problem in different windows"
while browsing in different windows the forms present in the first column is showing allignment problem.

[2019-10-26 16:09] swetasahoo29 opened #6 "unable to store data in the new updated scrum1.html"
after submitting the required details and storing in the database it is not showing the alert message

[2019-11-08 10:53] swetasahoo29 commented on #6
fixed

[2019-11-08 10:53] #6 closed

[2019-11-08 10:53] swetasahoo29 commented on #5
fixed

[2019-11-08 10:53] #5 closed

[2020-09-26 17:08] Harshita248 opened #11 "Add carousel to the header part to make the website look appealing"

[2020-09-26 17:13] Harshita248 opened #12 "Add footer with the details"

[2020-09-27 08:37] Harshita248 opened #13 "Add a background illustration to the "learn-easy" page relevant to the website"

[2020-09-27 08:43] Harshita248 opened #14 "Allow easy shifting of cards with information from one column to another"

[2020-09-27 08:49] Harshita248 opened #15 "Change the content and increase the columns if needed"
We will change the content to make it available for different  organizations  and  add animation effects to the column

[2020-09-28 06:13] zain-mansuri commented on #13
@Harshita248 in scrum1.ejs page wants to add background image same as login image "imglogin.jpg" ?
assign task to me

[2020-09-28 06:15] Zain7867 commented on #11
wants to add carousel instead of marquee. assign this task to me

[2020-09-28 14:09] Harshita248 commented on #13
@Zain7867 Wait for sometime. We will start as soon as we get the list of all the participants and then will assign it to you.

[2020-09-30 15:30] Harshita248 commented on #13
@Zain7867 are you a participant of SLoP for this particular project?
As this issue is under SLoP

[2020-09-30 15:45] Harshita248 opened #16 "Add some good illustrations to the images folder (relevant to the website) to be used in the website ."
Please refer to trello.com

[2020-10-02 16:17] Harshita248 opened #17 "Add one sticky card and after that add a "+" button for another card to appear in respective columns such that it automates the process."
**Remove all the separate text boxes which is individual and add all of them in a card such as a sticky card !**

[2020-10-03 17:56] Harshita248 opened #18 "Add a good illustration in the background of "sign in" page and make a box or form type "sign in" enhancing the buttons."
![Learn Easy - Google Chrome 10_3_2020 11_22_58 PM](https://user-images.githubusercontent.com/46245859/94998457-886ac580-05cf-11eb-995c-fe82848534c1.png)

[2020-10-03 18:01] Harshita248 opened #19 "Add animation effects on hovering the buttons on sign in page and change the styling."

[2020-10-03 18:02] nikldev0 commented on #19
Hi! Could I try working on this?

[2020-10-03 18:16] Harshita248 opened #20 "Add the github as well as linkedin profile of the assignee on the below right corner of the card."
**After the blanks are turned into a sticky card** _then Add the above mentioned profiles of the assignee who is entitled to check that particular project and is a mentor of that student's project ._

[2020-10-03 18:19] Harshita248 commented on #19
Hey @nikldev0 are you a participant under SLoP open source program as this issue is under SLoP so this will only be assigned to those participants under SLoP'20.

[2020-10-03 18:27] nikldev0 commented on #19
Unfortunately not, is this open for members of the public to join?

[2020-10-04 06:29] Harshita248 commented on #19
Sorry but this is labelled as SLoP so only participants can contribute. It's not public @nikldev0

[2020-10-05 08:38] UMuktesh commented on #19
Can I take up the work?

[2020-10-05 08:51] Harshita248 commented on #19
Yes sure @UMuktesh go ahead!!

[2020-10-05 12:26] shashwats538 commented on #16
Hey @Harshita248 . I'd like to work on this. #16

[2020-10-05 12:28] Harshita248 commented on #16
okay @shashwats538 please go ahead but it should be relevant to the project.

[2020-10-05 12:29] #19 closed

[2020-10-05 14:42] Harshita248 opened #22 "Add similar styling to both the login page as well as the index page."
Styling in the sense the illustration in the background and the header and footer

[2020-10-06 07:52] shashwats538 commented on #16
@Harshita248 . Please check PR #23

[2020-10-06 08:25] shashwats538 commented on #16
Hey @Harshita248 , Please Check PR #24 .

[2020-10-06 10:55] shashwats538 commented on #18
Hey @Harshita248 . Assign this issue to me. I'll redesign this page. #18

[2020-10-06 14:03] Harshita248 commented on #18
Okay sure @shashwats538

[2020-10-06 15:32] Harshita248 opened #26 "Add a sticky navbar to the main sign in page with sign in and sign up button"
Add any more option menu in the navbar after discussion.

[2020-10-07 13:50] #18 closed

[2020-10-07 13:52] shashwats538 commented on #26
Assign this issue to me. I'll handle this. #26

[2020-10-07 14:02] Harshita248 commented on #26
okay @shashwats538

[2020-10-09 15:42] #26 closed

[2020-10-11 17:10] Harshita248 opened #29 "Remove unnecessary scroll, make changes to css , fix the responsiveness of login page"

[2020-10-11 17:11] Harshita248 commented on #29
@UMuktesh go ahead as told .

[2020-10-12 05:12] #29 closed

[2020-10-13 03:56] UMuktesh commented on #22
@Harshita248 check PR #31

[2020-10-13 04:45] Harshita248 commented on #22
please provide the screenshots for the same @UMuktesh

[2020-10-13 04:49] UMuktesh commented on #22
![image](https://user-images.githubusercontent.com/63556122/95816769-7dd1ce00-0d3d-11eb-9a23-4e250b5d763a.png)
![image](https://user-images.githubusercontent.com/63556122/95816780-862a0900-0d3d-11eb-9e36-62492ef5ba0c.png)

[2020-10-13 04:52] Harshita248 commented on #22
See to the issue, the points are for designing the index page in the similar way so please do that and again make the pr then only I can allocate the points

[2020-10-13 04:58] #16 closed

[2020-10-13 04:58] #22 closed

[2020-10-14 14:40] Harshita248 opened #32 "Decrease the width of the navbar, change the hover colour of the menu items in the navbar, make the page intact by reducing the size of illustration and login form( particularly by removing scrollbar in Desktop view and making it compact )"
Additional : Remove text-decoration : underline in "Login Here"

[2020-10-14 14:52] Harshita248 opened #33 "Add a sign up page similar to the signin (index) page for both student and admin where the data of the user is to be stored in a database."
the signup button should have a dropdown for student and admin and the dropdown menu will redirect to the signup page for the student as well as the admin . (These separate pages can be styled similar or as per your choice).

**The data of student and admin when signup or login should be stored in a database respectively.**
_Please add screenshots for the same._

[2020-10-14 14:59] Harshita248 opened #34 "The "check easy" page needs to be redesigned in a different way."
_after the admin logins he/she is redirected to the check easy page which needs latest css styling(with some more illustrations and latest styling) without distorting any popup window or any other function which is already implemented._

**Please provide screenshots.**

[2020-10-14 15:02] Harshita248 commented on #34
PLease ask me about the major changes if anything is needed.

[2020-10-14 15:07] Harshita248 opened #35 "Add a loader while redirecting to index page, learn easy as well as check easy page. Also add similar navbar as index page to both the pages."
Add an appealing loader or loading page to the website with sticky navbar.

**Please provide screenshots of the same.**

[2020-10-14 15:17] Harshita248 opened #36 "Style the columns with animation effects , add content and various section, provide the title (all in learn easy) to give it a single page website look."
Add animation effects to the different sections such as how to use , why this , suggest an idea for the title and add it accordingly after the addition of carousel and footer in a different issue. Please refer trello.com
This issue will take time while adding different sections such as about , usage , etc in a single page. A feature such as light theme and dark mode scroll button can be added to m

[2020-10-15 13:56] shashwats538 commented on #33
Hey @Harshita248 . Can you assign this to me please?
#33

[2020-10-15 14:08] Harshita248 commented on #33
yes for sure go ahead @shashwats538

[2020-10-19 11:17] UMuktesh commented on #32
Can I take up the work?

[2020-10-19 12:38] Harshita248 commented on #32
Yes go ahead @UMuktesh  make it responsive as the login part on the right should not appear above the image for smaller size screen ..it should appear below it

[2020-10-20 13:52] #32 closed

[2020-10-20 15:33] UMuktesh commented on #35
Can I take up the work?

[2020-10-20 16:36] Harshita248 commented on #35
Go ahead @UMuktesh  please see to it that the loader is relevant to the website and looks good and implement it on mentioned pages . Also add a screenshot when done

[2020-10-21 13:11] #35 closed

[2020-10-25 16:59] Harshita248 commented on #34
This page needs a beautiful header relevant to the website , make a footer accordingly, tables or columns should be added accordingly, good writeups and mockups are to be used  so that it becomes user friendly for the admins to take up the projects for checking accordingly. **You will get bonus points if you make this really attractive and pretty related to the website.**

[2020-10-29 10:04] Harshita248 opened #40 "The popup that appears by clicking on the name of the user who is working on the project needs to fetch data from the database and the details of the particular user should get displayed in the popup."
The popup that appears on check easy page currently do not display the data of the user, it just shows the fields name , so the data of the user needs to be displayed on the popup after fetching it from the database.

[2020-10-29 10:06] Harshita248 opened #41 "Display the data of the user in the popup when the name of the user currently working on the project needs to be assigned a mentor from the table gets clicked ."
The popup that appears on check easy page currently do not display the data of the user, it just shows the fields name , so the data of the user needs to be displayed on the popup after fetching it from the database.

[2020-11-04 15:13] #33 closed

[2020-11-05 05:13] UMuktesh commented on #34
Can I take up the work?

[2020-11-05 05:32] Harshita248 commented on #34
Yes go ahead @UMuktesh

[2020-11-13 15:48] Harshita248 opened #43 "Create a database for storing the details of the user which logins."
Also integrate it with frontend

[2020-12-29 06:19] aum-singhal commented on #15
I can Contribute in this if is it available.
If it is open please assign this to me.
I will be contributing under SWoC

[2020-12-29 06:22] ghost commented on #12
Hello  sir can you assign this work to me

[2020-12-29 06:40] ArjitSahu commented on #12
I want to contribute this issue

[2020-12-29 07:06] itsmesohit commented on #11
I want to contribute on this project please assign this to me

[2020-12-29 07:09] itsmesohit commented on #12
I can create a very good looking footer , I want to work on this

[2020-12-29 09:49] vaishnavirshah commented on #11
I would like to contribute to this project, and the contribution will be under SWOC.

[2020-12-30 06:09] Harshita248 commented on #15
Sure @aum-singhal go ahead start working and make a pr after 5th Jan 2021 . Please share screenshots in the channel or here !

[2020-12-30 06:12] Harshita248 commented on #12
Yes @Deep2631 go ahead and start working on this. Send a pr after 5th Jan 2021 . As the issue is assigned on first come first serve basis.

[2020-12-30 06:14] Harshita248 commented on #11
@sohitdon  go ahead start working on it and send the pr after 5th Jan 2021 so that it gets counted.

[2020-12-30 06:50] fatmab2809 commented on #13
Hi, which background illustration do you want to add to the page? Do you want us to look for some good ones online?

[2020-12-30 07:10] Harshita248 commented on #13
Yes you can go for online illustrations which suits best @fatmab2809

[2020-12-30 07:32] fatmab2809 commented on #13
Ok, I will look for a few and share the images here, for you to choose. Is that okay?

[2020-12-30 15:03] imHarry404 commented on #12
I want to make the footer. guide me so that I can contribute as much as possible.

[2020-12-30 15:05] imHarry404 commented on #13
I want to contribute on this issue

[2020-12-30 15:54] ghost commented on #12
ok thank you mam

[2020-12-30 15:54] ghost commented on #12
for assigning me

[2020-12-30 15:59] imHarry404 commented on #15
Can I Contribute to this if is it available?
 If it is open please assign this to me. I will be contributing under SWoC.

[2020-12-30 16:00] imHarry404 commented on #36
@Harshita248  I want to contribute to under SWoC. I know CSS and JS better and I can do this.

[2020-12-30 16:35] ArjitSahu commented on #15
Hlo i want to contribute

[2020-12-31 16:12] imHarry404 commented on #13
I want to contribute on this issue

[2020-12-31 16:12] imHarry404 commented on #13
I want to contribute to this issue

[2020-12-31 16:12] imHarry404 commented on #15
I want to contribute to this issue

[2020-12-31 16:13] imHarry404 commented on #12
@Harshita248
I want to contribute to this issue

[2020-12-31 16:55] himanshu007-creator commented on #13
please assign me this issue.

[2020-12-31 16:58] himanshu007-creator commented on #12
Assign me the issue if not resolved till 5th january

[2021-01-01 16:21] priyanshi-2508 commented on #12
Hello, I want to work on this issue under SWOC.

[2021-01-01 16:21] priyanshi-2508 commented on #20
Hello, I want to work on this issue under SWOC.

[2021-01-02 04:08] Harshita248 commented on #36
Okay go ahead @ami-harry

[2021-01-02 04:10] Harshita248 commented on #20
Sure once the cards issue is done then you can work over this issue because the profile needs to be displayed under right corner of the cards @priyanshi-2508

[2021-01-02 04:11] Harshita248 commented on #15
@ArjitSahu  this issue is already assigned to one person . Only if he's taking much longer it will be further assigned to you .
@ami-harry  you are assigned with another issue so please work on that

[2021-01-02 04:13] Harshita248 commented on #12
Please see to it that the issue has been assigned to someone so if he takes much longer I will assign the issue to someone else.

[2021-01-02 15:55] deytulsi18 opened #45 "[Docs]: Add Issue Template, Pull Request template, Code Of Conduct"
Can I add Issue Template, Pull Request template, Code Of Conduct suitable for this project?

[2021-01-03 10:35] singhsaurav23 commented on #43
Please assign this issue to me

[2021-01-04 02:30] Harshita248 commented on #43
Go ahead @singhsaurav23  work on this

[2021-01-04 02:35] Harshita248 commented on #45
Sure @deytulsi18

[2021-01-04 15:38] imsachinsingh10 commented on #20
Hi, Ma'am if you don't mind i would like to work on this issue but before that can you provide me the link where i can visit this site so that i can get the idea of the Theme of this website.

[2021-01-05 05:09] rakshitnayak opened #47 "Registration Page Background"
Hey, the registration page can be styled more attractive! can I take up this issue?(swoc participant))

![image](https://user-images.githubusercontent.com/62886278/103608685-e4801580-4f41-11eb-81ec-7e407df029d6.png)

[2021-01-05 06:14] Harshita248 commented on #20
You need to view it on localhost . it's not hosted... Please give a read to README

[2021-01-05 06:58] n00bmaster2810 commented on #41
Hey, @Harshita248 ma'am Can I work on this issue?

[2021-01-05 07:58] Harshita248 commented on #41
Sure go ahead and start working @N00Bmaster2810

[2021-01-05 10:00] n00bmaster2810 commented on #41
![image](https://user-images.githubusercontent.com/61646176/103632696-b8c55580-4f6a-11eb-8e6d-d05be5619dbb.png)
@Harshita248  ma'am I have used modals instead of popup , will it be okay. If any other changes are required then please do inform

[2021-01-05 10:06] Akshu-on-github opened #48 "Create GitHub Pages"
As GitHub hosts static pages for free, creating a GitHub pages site would allow people to preview the project before contributing

[2021-01-05 15:33] khandelwal20sid commented on #11
can I contribute in this?

[2021-01-05 20:25] itsmesohit commented on #11
@Harshita248 Hello ma'am started working on it, soon send you pr

[2021-01-06 05:38] fatmab2809 commented on #13
Please assign me the issue.

[2021-01-06 15:55] dollyjain51099 commented on #12
I would like to work on this issue, please assign it to me?

[2021-01-06 15:59] Aniket118 commented on #13
Please, assign this issue to me.

[2021-01-06 16:02] ghost commented on #12
I have started working on this i will send pr soon.

[2021-01-06 17:05] sanyajain26 commented on #11
I would like to work on it, can you assign it to me?

[2021-01-06 17:19] dollyjain51099 commented on #47
I would like to work on this issue, please assign it to me!

[2021-01-06 17:36] priyanshi-2508 commented on #12
@Harshita248 Ma'am if there's no one, please assign me that issue.

[2021-01-06 17:48] priyanshi-2508 commented on #20
okay, @Harshita248  ma'am. Let me know.

[2021-01-06 18:06] ruchikamuddinagiri commented on #17
Can I work on this?

[2021-01-06 18:53] chehak123 commented on #47
i would like to work on it

[2021-01-07 06:06] Harshita248 commented on #13
It's already assigned and done @Aniket118

[2021-01-07 06:06] #13 closed

[2021-01-07 06:08] Harshita248 commented on #11
@sanyajain26  it's already assigned to @sohitdon  . He's working on it. Look for the other unassigned issues. I will also be creating more .

[2021-01-07 06:09] Harshita248 commented on #12
@Deep2631  is already assigned with this issue. If he can't complete we will assign it to you

[2021-01-07 06:10] Harshita248 commented on #17
Sure go ahead @ruchikamuddinagiri

[2021-01-07 06:11] Harshita248 commented on #47
As the issue is based on first come first serve basis @rakshitnayak  you can go ahead with the work. Others please wait or look for other issues.

[2021-01-07 13:35] ridsuteri opened #50 "Student & Admin page enhancement"
hey @Harshita248  i think i can improve this student login and admin login page..

![Screenshot (41)](https://user-images.githubusercontent.com/59795822/103898592-2a440600-511b-11eb-8d82-c77769e11f3f.png)
![Screenshot (40)](https://user-images.githubusercontent.com/59795822/103898594-2c0dc980-511b-11eb-9782-27f5a14996a1.png)

Plz let me work on this issue

[2021-01-07 14:03] Harshita248 commented on #50
Okay go ahead @ridsuteri  and work on it. It's a beginner issue

[2021-01-09 11:32] imsachinsingh10 opened #53 "Recreating the Home-page of the Scrum website"

[2021-01-09 13:43] Harshita248 commented on #53
Done

[2021-01-09 13:43] #53 closed

[2021-01-09 17:54] imsachinsingh10 commented on #12
I have already made the footer for this website, so if you want then assign it to me or i should wait till last

[2021-01-09 20:34] JBetts97 opened #55 "Webpage fails to compile"
After cloning the repository and using npm to install all the dependencies, the `node app.js ` returns the following error:
![image](https://user-images.githubusercontent.com/38386086/104108111-f8b57100-52b9-11eb-80eb-6960afadecf2.png)

[2021-01-10 04:21] #55 closed

[2021-01-11 17:32] anjali-goyal06 opened #58 "To store password in the database of user ."
Hey @Harshita248  .Here in the code password is needed to be stored .
![Image 1](https://user-images.githubusercontent.com/65500739/104216927-b5e1cd80-5460-11eb-901a-8317675e93c9.png)

I can store password useing hashing password to securely stroing password in the databse of the user .

Please assign the issue to me under SWOC'21 .

[2021-01-11 17:34] Harshita248 commented on #58
Okay go ahead @anjali-goyal06

[2021-01-12 07:11] Sloth-Panda opened #59 "Creation of code_of_conduct file"
There is no code_of_conduct file so let me know if this needs to be done

[2021-01-12 07:12] Sloth-Panda opened #60 "Creation of issue template"
There is no issue template so can I add one

[2021-01-12 08:51] Harshita248 commented on #59
Okay you can work on this @Sloth-Panda

[2021-01-12 10:20] Harshita248 commented on #59
Done

[2021-01-12 10:20] #59 closed

[2021-01-14 04:40] nehaparmar99 commented on #34
Can I work on this?

[2021-01-14 07:38] Harshita248 commented on #34
Sure go ahead @nehaparmar99

[2021-01-14 23:02] Sloth-Panda opened #63 "Welcome bot integration"
A welcome bot can be integrated which will help first timers when they open an issue or make a pr or so and also we can set custom messages in reply when someone opens an issue or makes a PR

[2021-01-14 23:03] Sloth-Panda opened #64 "Creation of PR template"

[2021-01-14 23:03] Sloth-Panda commented on #64
Let me know if this needs to be done

[2021-01-14 23:04] Sloth-Panda commented on #63
Let me know @Harshita248 if this needs to be done

[2021-01-14 23:04] Sloth-Panda commented on #60
Let me know if this needs to be done

[2021-01-15 06:05] Harshita248 commented on #64
Yes you can @Sloth-Panda

[2021-01-18 05:04] Harshita248 commented on #64
Done

[2021-01-18 05:04] #64 closed

[2021-01-18 05:04] Harshita248 commented on #60
Okay

[2021-01-29 14:26] Abhir-24 commented on #50
@Harshita248 I would like to work on this issue if available.

[2021-01-29 14:28] Abhir-24 commented on #47
@Harshita248 I would like to work on this issue and enhance the registration page.

[2021-01-30 09:58] imsachinsingh10 opened #67 "Login Page for Admin and Student confined in single box to make it look clean"
Login Page for Student and Admin will be confined in a single Event and Box by using the JavaScript Effects to make it look like a Toggle effect... And Hide  the Overflow of the Portal.

[2021-01-30 13:44] imsachinsingh10 opened #68 "Merging the Admin Registration Page and Student Page and it can be accessed from same page"

[2021-01-30 15:49] Harshita248 commented on #68
Okay

[2021-01-30 15:51] Harshita248 commented on #67
Okay great @imsachinsingh10

[2021-01-30 15:53] Harshita248 commented on #50
Sure go ahead @Abhir-24

[2021-01-30 15:55] Harshita248 commented on #47
@dollyjain51099 or @Abhir-24  any one of you confirm to take up this issue then I will assign it to one of you.

[2021-01-30 15:56] Abhir-24 commented on #47
i can work on it

[2021-01-30 15:57] Harshita248 commented on #47
Okay please do @Abhir-24

[2021-01-30 18:07] imsachinsingh10 commented on #68
Ma'am this will take a bit more effort to complete... so if you can then label it as "Medium"

[2021-01-31 13:06] Abhir-24 commented on #47
is it necessary to add some colour background only or can I add an image also and then to modifications the that background image?

[2021-01-31 15:30] Abhir-24 commented on #47
@Harshita248 please take a look at the pic. I have added animation to the button and the registration form heading. Let me know if any changes are required.
![Screenshot from 2021-01-31 20-57-17](https://user-images.githubusercontent.com/56101022/106389044-462f8480-6407-11eb-9648-407bf0d0867f.png)

[2021-01-31 16:32] Harshita248 commented on #47
Please make the button of smaller size and the gradient color a bit lighter.

[2021-01-31 17:34] Abhir-24 commented on #47
sure will do!

[2021-02-01 08:08] imsachinsingh10 commented on #67
This Issue has been resolved please close this issue

[2021-02-01 10:01] Harshita248 commented on #67
Done

[2021-02-01 10:01] #67 closed

[2021-02-01 10:09] Abhir-24 commented on #47
@Harshita248 kindly review the changes and let me know if I can make a PR
![Screenshot from 2021-02-01 15-38-24](https://user-images.githubusercontent.com/56101022/106444376-ad027b80-64a3-11eb-9551-50fc73506594.png)

[2021-02-01 10:16] Harshita248 commented on #47
Yes sure

[2021-02-01 10:56] Abhir-24 commented on #50
Just to confirm I have to make changes here right because i cannot find any page related to the images given above.
![Screenshot from 2021-02-01 16-24-26](https://user-images.githubusercontent.com/56101022/106449662-34eb8400-64aa-11eb-9fdf-681e269d5fa6.png)

[2021-02-01 13:27] Harshita248 commented on #50
Yes

[2021-02-02 09:01] #17 closed

[2021-02-02 15:39] Abhir-24 commented on #50
@Harshita248 please take a look and let me know if any changes are required.
![Screenshot from 2021-02-02 21-06-05](https://user-images.githubusercontent.com/56101022/106623524-b4588080-659a-11eb-8fb3-dd458fc70d77.png)
![Screenshot from 2021-02-02 21-06-27](https://user-images.githubusercontent.com/56101022/106623551-be7a7f00-659a-11eb-960a-6029fcc3f5b5.png)
![Screenshot from 2021-02-02 21-08-40](

[2021-02-03 02:11] vismitap opened #73 "regadm page has some issues"
**Describe the bug**
----
- A clear and concise description of what the bug is.
1) The header is not rendered properly
![image](https://user-images.githubusercontent.com/47056243/106686501-63737700-65f0-11eb-8535-97661131d834.png)
2) The animations also seem to have a bug
![image](https://user-images.githubusercontent.com/47056243/106686544-7ede8200-65f0-11eb-916a-35d974fb0ae3.png)
![image](https:

[2021-02-03 02:17] vismitap commented on #40
Hey! I wanted to work on this issue but saw some bugs on register page and could not register. Can I work on this, once issue #73 gets fixed?

[2021-02-03 05:21] Harshita248 commented on #73
Okay go ahead @vismitap

[2021-02-03 05:21] Harshita248 commented on #40
Sure you can

[2021-02-04 07:32] jyotsana3108 commented on #48
I would like to contribute to this issue under SWOC. Can you please assign it to me?

[2021-02-04 09:02] imsachinsingh10 commented on #73
Sorry, It occured while merging the files... If you want @vismitap i will correct it

[2021-02-04 10:01] imsachinsingh10 commented on #68
Please close this issue I have resolved and fixed the bug which was mentioned by other participant Today (4th Feb 2021)

[2021-02-04 11:24] vismitap commented on #73
I was going through the files and there is lot of code commented (in css and ejs), diff css for the same tags (body tag) etc. It is taking quite a while to resolve everything. I am okay if you want to try resolving this @imsachinsingh10 . Please keep me updated so that I can move to other issues and try them. If any help needed we can collaborate too.

[2021-02-04 16:32] Harshita248 commented on #48
Sure @jyotsana3108

[2021-02-04 16:35] Harshita248 commented on #68
Done

[2021-02-04 16:37] Harshita248 commented on #73
Done

[2021-02-04 16:37] #73 closed

[2021-02-05 07:43] vismitap commented on #73
Hey! @Harshita248 The issue still persists!
1) Refer [this link](https://imgur.com/a/mG3R3Y6). Here, you can see there are errors in register.css file from the master branch of your repository.
2) There is a lot of code commented which may not be useful and is creating confusion.
![image](https://user-images.githubusercontent.com/47056243/107003406-bbf27200-67b2-11eb-8ad8-a0b4684f4ca9.png)
3) Ther

[2021-02-05 09:07] Harshita248 commented on #73
Go ahead under this issue

[2021-02-05 09:11] vismitap commented on #73
okay! 👍

[2021-02-06 20:33] vismitap commented on #73
Raised a PR! Please check #75

[2021-02-07 13:24] vismitap opened #76 "Details on fetch_details.ejs page is not visible"
**Describe the bug**
----
The table and header is not visible because of the background image.

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'http://localhost:3000/details'
  2. View the page

**Expected behavior**
-----
The contents of page should be easily visible.

**Possible solution**
----
Removing the dark background image would do and the white background also match t

[2021-02-08 14:45] vismitap commented on #40
Hey! To work on this we need to have a database of who logins(Student & admin) which is not present right now ie. #43 needs to be solved.

[2021-02-08 16:36] Harshita248 commented on #40
Yes

[2021-02-08 16:37] Harshita248 commented on #76
Okay

[2021-02-08 18:57] vismitap commented on #43
@singhsaurav23 Are you still working on this? Can I take up this issue?

[2021-02-08 18:59] vismitap commented on #76
Please add the difficulty tag as well. ✌

[2021-02-09 03:31] #76 closed

[2021-02-11 05:43] imsachinsingh10 opened #78 "Auto Hiding Navbar which reduces the issues of overlapping when scrolling"
**Is your feature request related to a problem? Please describe.**
----
- No, it is not, it is just an added extra feature for the website

**Describe the solution you'd like**
----
- Whenever website will be scrolled down then Navbar will automatically hide itself.

**Describe alternatives you've considered**
----
- There is no need of that

**Additional context**
----
- NA.

[2021-02-11 05:48] imsachinsingh10 opened #79 "Scroll to Top Button"
**Is your feature request related to a problem? Please describe.**
----
- No it is an extra added benefit for the users.

**Describe the solution you'd like**
----
- When website will be scrolled to a certain extent then this button will appear which will take the user to the top of the website

**Describe alternatives you've considered**
----
- No need of that.

**Additional context**
----
- NA

[2021-02-11 05:53] imsachinsingh10 opened #80 "Contact Section"
**Is your feature request related to a problem? Please describe.**
----
- Every Commercial website should have a contact section where all the details are given. Also user can ask for queries also.

**Describe the solution you'd like**
----
- NA

**Describe alternatives you've considered**
----
- NA

**Additional context**
----
- NA

[2021-02-11 05:53] imsachinsingh10 commented on #80
If you think then label it as a Medium Level problem under SWOC

[2021-02-11 06:17] imsachinsingh10 opened #81 "Navbar Hamburg Button Not Working in the Media Queries"
**Describe the bug**
----
- For Mobile users Navbar Hamburg not working

**To Reproduce**
----
- Steps to reproduce the behavior:
    1.

**Expected behavior**
-----
- It should respond when it is clicked

**Possible solution**
----
- JavaScript Function fix has to be done

**Screenshots**
----
- If applicable, add screenshots to help explain your problem.

**Additional context**
----
- Add any ot

[2021-02-11 07:42] imsachinsingh10 opened #82 "Smooth Scroll Feature"
**Is your feature request related to a problem? Please describe.**
----
- No, it is a added feature

**Describe the solution you'd like**
----
- Whenever few navbar tabs are clicked and if it is on the same page then it will scroll down smoothly to that portion

**Describe alternatives you've considered**
----
- NA

**Additional context**
----
- NA

[2021-02-12 05:20] imsachinsingh10 commented on #78
Ma'am Please Label this and other 4 issues as well, if you think it is required

[2021-02-12 20:32] vismitap commented on #48
Hey! May I work on this?

[2021-02-12 20:34] vismitap commented on #36
May I work on this issue?

[2021-02-13 08:56] #60 closed

[2021-02-13 14:27] imsachinsingh10 commented on #78
Please Assign me this issue, also please close this issue because it has been resolved

[2021-02-13 14:28] imsachinsingh10 commented on #82
Please Assign me this issue, also please accept the PR to this issue

[2021-02-13 14:31] imsachinsingh10 commented on #79
Please Assign this issue to me. I have already made this only thing is left to make a PR

[2021-02-14 04:16] Harshita248 commented on #36
Yes sure @vismitap

[2021-02-14 16:47] imsachinsingh10 opened #87 "Sidebar Widget (Floating)"
**Is your feature request related to a problem? No.**
----
- A clear and concise description of what the problem is. On the right hand side of the website there will be a floating widget to all the social media links of SCRUM page

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and

[2021-02-14 16:48] imsachinsingh10 commented on #87
Please Assign this issue to me and close all the previous issue

[2021-02-15 04:11] Harshita248 commented on #82
Done

[2021-02-15 04:11] #82 closed

[2021-02-15 04:11] Harshita248 commented on #79
Done

[2021-02-15 04:11] #79 closed

[2021-02-15 04:36] imsachinsingh10 commented on #78
Please Close this is Issue, it has been resolved

[2021-02-15 04:36] imsachinsingh10 commented on #80
Please Close this is Issue, it has been resolved

[2021-02-15 04:37] imsachinsingh10 commented on #81
If Bugs are considered under SWoC then please label it under SWoC

[2021-02-15 05:16] Harshita248 commented on #78
Done

[2021-02-15 05:16] #78 closed

[2021-02-15 05:16] Harshita248 commented on #80
Done

[2021-02-15 05:16] #80 closed

[2021-02-15 05:17] Harshita248 commented on #81
Done

[2021-02-15 05:17] #81 closed

[2021-02-15 19:09] vismitap commented on #36
@Harshita248 Please explain what needs to be done here in a bit detail. Which page are you talking about?

[2021-02-16 03:21] Harshita248 commented on #36
The page in which there are different columns ...

[2021-02-16 12:00] vismitap commented on #36
Do you mean this?
![image](https://user-images.githubusercontent.com/47056243/108059724-ef1ee600-707b-11eb-9c14-95750b7eccc1.png)
What animations do you want on this page. I am sorry, I didn't get it 😥
Other pages are registration pages, so not sure which page you are talking about. 😥

[2021-02-16 12:06] vismitap opened #88 "Delete Regstu page, Edit App.js, Fix view on Regadm"
**Describe the bug**
----
- A clear and concise description of what the bug is.
The regstu page looks like this:
![image](https://user-images.githubusercontent.com/47056243/108060483-f1357480-707c-11eb-8df9-b5860e6069d7.png)
![image](https://user-images.githubusercontent.com/47056243/108060525-feeafa00-707c-11eb-845c-8d8bf0baafe5.png)

**To Reproduce**
----
- Steps to reproduce the behavior:
  1.

[2021-02-16 12:16] vismitap opened #89 "The title needs to be rearranged in RegAdmin page to make it look nicer"
**Describe the bug**
----
- A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/47056243/108061600-90a73700-707e-11eb-9a93-500713041b54.png)
![image](https://user-images.githubusercontent.com/47056243/108061811-d9f78680-707e-11eb-95a9-0ada23d03d79.png)

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'http://localhost:3000/rega

[2021-02-16 12:22] vismitap opened #90 "Fetch_details page is broken"
**Describe the bug**
----
- A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/47056243/108062195-74f06080-707f-11eb-8be6-50f5e06e7e25.png)

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'http://localhost:3000/fetch_details'
  2. See error

**Expected behavior**
-----
- A clear and concise description of what you expected to

[2021-02-16 15:42] Harshita248 commented on #90
Sure please fix this if you can

[2021-02-16 15:43] Harshita248 commented on #89
Okay

[2021-02-16 20:53] vismitap commented on #89
Please add the difficulty level

[2021-02-16 20:56] vismitap commented on #90
Please add the SWoC and difficulty level labels ! ✨

[2021-02-16 21:01] vismitap commented on #88
Please assign me this too! Also add SWoC and difficulty level labels

[2021-02-17 04:18] #90 closed

[2021-02-17 04:19] #89 closed

[2021-02-17 19:19] vismitap commented on #88
Heyyy! I think we just don't need this page! We already have both the register admin and register student section on /regadm page.

Refer this:
![image](https://user-images.githubusercontent.com/47056243/108256082-0f859800-7183-11eb-857d-7cea56585a1e.png)
![image](https://user-images.githubusercontent.com/47056243/108256110-1ca28700-7183-11eb-84a2-a8f5b7ae1ac7.png)

We need to delete the /regstu p

[2021-02-17 19:21] vismitap commented on #88
There is this issue in /regadm page though.
![image](https://user-images.githubusercontent.com/47056243/108256254-4e1b5280-7183-11eb-8871-69bd23f2513f.png)

I will fix this, delete the /regstu page, and make changes to app.js as a part of this issue.

[2021-02-18 04:55] #63 closed

[2021-02-18 06:18] #88 closed

[2021-02-18 10:26] imsachinsingh10 commented on #87
This issue has been resolved, please close this issue

[2021-02-18 13:25] Harshita248 commented on #87
Done

[2021-02-18 13:25] #87 closed

[2021-02-18 21:38] vismitap commented on #36
Please tell me what needs to be done here. The text boxes are not center-aligned, I can fix that. What kind of animation is required here?

[2021-02-19 03:13] Harshita248 commented on #36
You need to give animation to the whole page like fadein or fadeout and also to the columns such that they appear seconds after one another. Also add carousel and footer

[2021-02-24 05:18] imsachinsingh10 opened #95 "Accessing the Chatfuel to create a chatbot for website"
**Is your feature request related to a problem? Please describe.**
`NA`
----
- A clear and concise description of what the problem is.
- It will create a Chatbot which will respond to user accordingly
- Also, it will be connected with Facebook messenger
**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered

[2021-02-24 05:19] imsachinsingh10 commented on #95
Please assign this to me as Easy or Medium, whatever you think is relevant

[2021-02-24 05:21] imsachinsingh10 opened #96 "Making the Chatbot in codebase of SCRUM"
**Is your feature request related to a problem? Please describe.**
`NA`
----
- A clear and concise description of what the problem is.
- It will make Chatbot functional on website apart from connecting it with the Messenger

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise

[2021-02-24 05:22] imsachinsingh10 commented on #96
Please, assign this to me as Hard label under SWoC21,

[2021-02-24 05:24] imsachinsingh10 opened #97 "Making Teams Webpage of SCRUM"
**Is your feature request related to a problem? Please describe.**
`NA`
----
- A clear and concise description of what the problem is.
- A clear description of People working in SCRUM need to be made
**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alter

[2021-02-24 05:24] imsachinsingh10 commented on #97
@Harshita248 Please assign this to me, and will be creating a complete new webpage for this Teams section

[2021-02-24 06:37] Harshita248 commented on #97
ok

[2021-02-26 10:09] imsachinsingh10 commented on #95
@Harshita248 this ISSUE has been resolved

[2021-02-26 18:06] Harshita248 commented on #95
Done

[2021-02-26 18:06] #95 closed

[2021-02-26 21:28] imsachinsingh10 commented on #96
@Harshita248 this issue has been resolved

[2021-02-26 21:35] vismitap opened #100 "Back to top overlaps the social media section at the right"
**Describe the bug**
----
- A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/47056243/109357420-33925900-78a8-11eb-9c45-5bbd248c5743.png)

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'http://localhost:3000/'
  3. Scroll down.
  4. See error

**Expected behavior**
-----
The overlapping should be prevented!

**Possible sol

[2021-02-26 21:48] vismitap opened #101 "The old admin page is still present and is completely different from the website's theme"
**Describe the bug**
----
- A clear and concise description of what the bug is.
- The code needs to be cleaned up and we should keep only what's needed.
![image](https://user-images.githubusercontent.com/47056243/109358734-3a21d000-78aa-11eb-8e98-63d2589be738.png)

**To Reproduce**
----
- Steps to reproduce the behavior:
  1. Go to 'http://localhost:3000/admin'
  4. See error

I will clean the cod

[2021-02-27 04:19] Harshita248 commented on #96
Done

[2021-02-27 04:19] #96 closed

[2021-02-27 13:50] #100 closed

[2021-02-27 13:50] #36 closed

[2021-02-27 15:57] #101 closed

[2021-02-27 21:19] imsachinsingh10 commented on #97
This issue has been resolved

[2021-02-28 04:25] Harshita248 commented on #97
Done

[2021-02-28 04:25] #97 closed

[2021-02-28 07:05] vismitap commented on #36
Hey! Please put difficulty level label here!